:root {
    --primary-color: #1C3C4A;
    --secondary-color: #125F89;
    --accent1-color : #3A6A83;
    --accent2-color : #76CDCA;
    --color: white;
    --text-decoration: underline;
    --font-family: "Roboto Serif", serif;
    --text-align: center;
    --border: 1px solid #ccc;
}
h1 {
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
h1 a {
    color: var(--primary-color);
    font-family: var(--font-family);
}
h2 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
h3 {
    color: var(--accent1-color);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}
footer a {
    text-decoration: none;
}
.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.hero-image {
    width: 101%;
    height: 100%;
    object-fit: cover;
}
.hero-title {
    position: absolute;
    top: 1%;
    color: var(--color);
    font-size: 2.5rem;

    
}
.hero-article {
    position: absolute;
    bottom: 1%;
    left: 10%;
    width: 80%;
    color: var(--color);
    padding: 15px;
    border-radius: 5px;
    
}
 .article-image {
    float: right;
    width: 200px;
    height: auto;
    margin-left: 15px;
    border-radius: 5px;
}
.article-text {
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
}
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background: var(--accent1-color);
    color: var(--color);
    border-bottom: 1px solid var(--primary-color);
}
.horizontal {
    justify-self: end;
}
.logo {
    width: 100px;
    height: auto;
    margin: 0 0.25rem 0 2rem;
}
.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-list li {
    margin: 0 10px;
}
.nav-list a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    display: block;
    color: var(--color);
}
.nav-list a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: var(--text-decoration);

}
footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 20px;
    background: var(--accent1-color);
    color: var(--color);
    border-top: 1px solid var(--primary-color);
}

.social {
    justify-self: end;
}
.social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-list a {
    text-decoration: none;
    color: var(--primary-color);
    
    
    display: block;
}
.social img {
    width: 30px;
    height: 30px;
}
.social img:hover {
    transform: scale(1.1);
}
.profilesall {
    display: flex;
    
    flex-wrap: wrap;
}
figcaption {
    text-align: center;
}
.form {
    background-color: var(--color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h1 {
    text-align: var(--text-align);
    margin-bottom: 20px;
}
label {
    margin-top: 10px;
}
input, textarea {
    border: var(--border);
}
button {
    margin-top: 8px;
    background-color: #007bff;
    color: var(--color);
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.useremail {
    margin-top: 9px;
}
.newfooter {
    text-align: var(--text-align);
    
}
.newfooter a {
    color: var(--color);
    
}
.newfooter a:hover {
    text-decoration: var(--text-decoration);
}


:root {
    --primary-color: #1C3C4A;
    --secondary-color: #125F89;
    --accent1-color : #3A6A83;
    --accent2-color : #76CDCA;
    /*--primary-font: 'Roboto', sans-serif;*/
}
h1 {
    color: var(--primary-color);
    /*font-size: 2.5rem;*/
    /*font-weight: 0;*/
    /*text-align: none;*/
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif", serif;
}
h1 a {
    color: var(--primary-color);
    text-decoration: none;
    font-family: "Roboto Serif", serif;
}
h2 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    /*font-weight: 0;*/
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif", serif;
}
h3 {
    color: var(--accent1-color);
    font-size: 1.5rem;
    /*font-weight: 0;*/
    /*text-align: none;*/
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif", serif;
    /*font-weight: 0;*/
}
/*footer {
    a {
        text-decoration: none;
    }
}*/
footer a {
    text-decoration: none;
}
/*body {
    max-width: 800px;
    margin: 0 auto;
}*/
/*div {
        position: relative;
        h1 {
            position: absolute;
        }
        article {
            position: absolute;
        }
}*/
.hero {
    position: relative;
    width: 100%;
    /*height: 600px;*/
    overflow: hidden;
}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-title {
    position: absolute;
    top: 1%;
    /*transform: translate(-50%);*/
    color: white;
    font-size: 2.5rem;

    
}
.hero-article {
    position: absolute;
    bottom: 1%;
    left: 10%;
    width: 80%;
    /*background: rgb(0, green, blue);*/
    color: white;
    padding: 15px;
    border-radius: 5px;
    
}
 .article-image {
    float: right;
    width: 200px;
    height: auto;
    margin-left: 15px;
    border-radius: 5px;
}
.article-text {
    color: rgb(255, 255, 255);
    font-family: "Roboto Serif", serif;
}
/*.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-title {
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: none;
    font-weight: 0;
    text-align: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif", serif;
}*/
header {
    display: grid;
    grid-template-columns: auto 1fr;
   /*grid-template-columns: 120px 1fr 1fr;*/
    align-items: center;
    /*padding: 10px;*/
    background: var(--accent1-color);
    color: white;
    border-bottom: 1px solid var(--primary-color);
    /*max-width: 1000px;*/

}
.horizontal {
    justify-self: end;
}
.logo {
    width: 100px;
    height: auto;
    margin: 0 0.25rem 0 2rem;
}
.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-list li {
    margin: 0 10px;
}
.nav-list a {
    text-decoration: none;
    /*color: var(--primary-color);*/
    font-size: 20px;
    padding: 10px 15px;
    display: block;
    color: white;
}
.nav-list a:hover {
    /*background: var(--primary-color);
    color: white;
    border-radius: 5px;*/
    color: tomato;
    font-weight: 700;
    text-decoration: underline;

}
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent2-color);
    
}
.history-image {
   /* display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    
    height: auto;
    margin-left: 100px;
    padding: 1px;
    width: 200px;
    /*flex-shrink: 0;*/
}
.history-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    /*flex-wrap: wrap;*/
    /*align-items: flex-start;*/
    /*gap: 15px;*/
    /*max-width: 600px;*/
    list-style: none;
    padding: 10px;
}
/*.history-list li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}*/
/*.history-text {
    width: 70%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif", serif;
}*/
/*.adventure {
    display: flex;
    justify-content: center;
    gap: 10px;
}*/
.adventure {
    display: flex;
    justify-content: space-between;
    
}
.all-section {
    background-color: #818f97;
}
.adventure fugure {
    flex: 1;
    text-align: center;
}
.adventure img {
    width: 200px;
    height: auto;
}
.adventure figcaption {
    font-size: 17px;
    color: rgb(7, 48, 83);
    text-align: center;
}
/*footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.social {
    display: flex;
    gap: 1px;
}
.social img {
    width: 30px;
    height: 30px;
}
.social img:hover {
    transform: scale(1.1);
}
.footer-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
}*/
/*.social {
    justify-self: end;
    display: block;
}
.para {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.footer-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
}*/
footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 20px;
    background: var(--accent1-color);
    color: white;
    border-top: 1px solid var(--primary-color);
}
.para {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.social {
    justify-self: end;
}
.social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-list a {
    text-decoration: none;
    color: var(--primary-color);
    
    
    display: block;
}
.social img {
    width: 30px;
    height: 30px;
}
.social img:hover {
    transform: scale(1.1);
}