:root {
    --primary-color: #1C3C4A;
    --secondary-color: #125F89;
    --accent1-color : #3A6A83;
    --accent2-color : #76CDCA;
    --color: white;
    --text-decoration: underline;
    --font-family: "Roboto Serif", serif;
    --text-align: center;
    --border: 1px solid #ccc;
    --margin: 0;
    --padding: 0;
    --textdecoration: none;
    --font-size: 1.5rem;
    --width: 100%;
    --height: auto;
    --align-items: center;
    --allwidth: 200px;
    --position: absolute;
    --border-radius: 5px;
    --display: grid;
    --justify-self: end;
    --flex: flex;
    --justify-content: center;
    --list-style: none;
    --blockdisplay: block;
    --allpadding: 20px;
}
h1 {
    color: var(--primary-color);
    margin: var(--margin);
    padding: var(--padding);
    font-family: var(--font-family);
}
h1 a {
    color: var(--primary-color);
    text-decoration: var(--textdecoration);
    font-family: var(--font-family);
}
h2 {
    color: var(--secondary-color);
    font-size: var(--font-size);
    text-align: var(--text-align);
    margin: var(--margin);
    padding: var(--padding);
    font-family: var(--font-family);
}
h3 {
    color: var(--accent1-color);
    font-size: var(--font-size);
    margin: var(--margin);
    padding: var(--padding);
    font-family: var(--font-family);
}
footer a {
    text-decoration: var(--textdecoration);
}
.hero {
    position: relative;
    width: var(--width);
    overflow: hidden;
}
.hero-image {
    width: var(--width);
    height: 100%;
    object-fit: cover;
}
.hero-title {
    position: var(--position);
    top: 1%;
    color: var(--color);
    font-size: 2.5rem;

    
}
.hero-article {
    position: var(--position);
    bottom: 1%;
    left: 10%;
    width: 80%;
    color: var(--color);
    padding: 15px;
    border-radius: var(--border-radius);
    
}
 .article-image {
    float: right;
    width: var(--allwidth);
    height: var(--height);
    margin-left: 15px;
    border-radius: var(--border-radius);
}
.article-text {
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
}
header {
    display: var(--display);
    grid-template-columns: auto 1fr;
    align-items: var(--text-align);
    background: var(--accent1-color);
    color: var(--color);
    border-bottom: 1px solid var(--primary-color);
}
.horizontal {
    justify-self: var(--justify-self);
}
.logo {
    width: 100px;
    height: var(--height);
    margin: 0 0.25rem 0 2rem;
}
.nav-list {
    display: var(--flex);
    justify-content: var(--justify-content);
    list-style: var(--list-style);
    padding: var(--padding);
    margin: var(--margin);
}
.nav-list li {
    margin: 0 10px;
}
.nav-list a {
    text-decoration: var(--textdecoration);
    font-size: 20px;
    padding: 10px 15px;
    display: var(--blockdisplay);
    color: var(--color);
}
.nav-list a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: var(--text-decoration);

}
.history {
    display: var(--flex);
    flex-direction: column;
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    background-color: var(--accent2-color);
}
.history-image {
    height: var(--height);
    margin-left: 100px;
    padding: 1px;
    width: var(--allwidth);
}
.history-list {
    display: var(--display);
    grid-template-columns: 1fr 1fr 1fr;
    list-style: var(--list-style);
    padding: 10px;
}
.adventure {
    display: var(--flex);
    justify-content: space-between;
    
}
.all-section {
    background-color: #818f97;
}
.adventure fugure {
    flex: 1;
    text-align: var(--text-align);
}
.adventure img {
    width: var(--allwidth);
    height: var(--height);
}
.adventure figcaption {
    font-size: 17px;
    color: rgb(7, 48, 83);
    text-align: var(--text-align);
}
footer {
    display: var(--display);
    grid-template-columns: 1fr auto;
    align-items: var(--align-items);
    padding: var(--allpadding);
    background: var(--accent1-color);
    color: var(--color);
    border-top: 1px solid var(--primary-color);
}
.para {
    display: var(--flex);
    justify-content: var(--justify-content);
    margin: 10px;
}
.social {
    justify-self: var(--justify-self);
}
.social-list {
    display: var(--flex);
    justify-content: var(--justify-content);
    list-style: var(--list-style);
    padding: var(--padding);
    margin: var(--margin);
}
.social-list a {
    text-decoration: var(--textdecoration);
    color: var(--primary-color);
    display: var(--blockdisplay);
}
.social img {
    width: 30px;
    height: 30px;
}
.social img:hover {
    transform: scale(1.1);
}











.profilesall {
    display: var(--flex);
    
    flex-wrap: wrap;
}
figcaption {
    text-align: var(--text-align);
}
.form {
    background-color: var(--color);
    padding: var(--allpadding);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h1 {
    text-align: var(--text-align);
    margin-bottom: 20px;
}
label {
    margin-top: 10px;
}
input, textarea {
    border: var(--border);
}
button {
    margin-top: 8px;
    background-color: #007bff;
    color: var(--color);
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.useremail {
    margin-top: 9px;
}
.newfooter {
    text-align: var(--text-align);
    
}
.newfooter a {
    color: var(--color);
    
}
.newfooter a:hover {
    text-decoration: var(--text-decoration);
}